@model HomeVM
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center m-3">
 
        @if (Model.Categories != null)
        {
        @foreach (var item in Model.Categories)
        {
            <a asp-controller="Post" asp-action="Index" asp-route-categoryId="@item.Id" class="badge bg-warning">@item.Name</a>
        }
 }
</div>
